.nannyCard {
  background-color: var(--secondary-bg);
  padding: 24px;
  border-radius: 24px;
  gap: 24px;
}
.avatarWrapper {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relative {
  position: relative;
}
.avatar {
  border-radius: 30px;
  padding: 12px;
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.nannyInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.name {
  text-align: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}
.infoList {
  display: flex;
  gap: 15px;
}
.mapIcon {
  stroke: var(--text-color-dark);
  fill: transparent;
}
.price {
  color: var(--price-color);
}
.heartBtn {
  display: flex;
  align-items: center;
}
.heartIcon {
  stroke: var(--text-color-dark);
  fill: transparent;
  transition: fill var(--transition);
}
.heartIcon:hover {
  fill: var(--primary-color);
}
.descriptionList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  text-align: left;
  margin: 24px 0;
}
.item {
  border-radius: 24px;
  padding: 8px 16px;
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.5;
}
.descriptionList .item:first-child .span {
  text-decoration: underline;
}
.span {
  color: var(--text-color-dark);
}

@media screen and (min-width: 768px) {
  .nannyCard {
    display: flex;
    align-items: flex-start;
  }
  .nannyInfo {
    align-items: flex-start;
  }
  .name {
    text-align: left;
  }
  .infoList {
    align-items: flex-end;
  }
  .infoItem {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .descriptionList {
    display: flex;
    column-gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .nannyCard {
    display: flex;
  }
  .nannyInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}
