.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay);
}
.modal {
  margin: 0 auto;
  padding: 64px;
  border-radius: 30px;
  max-width: 599px;
  width: 100%;
  position: relative;
  background-color: var(--secondary-bg);
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
}
