.selectWrapper {
  width: 226px;
  position: relative;
  margin-top: 64px;
  margin-bottom: 32px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--text-color);
  margin-bottom: 8px;
}

.selectedOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  padding: 14px 18px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--secondary-bg);
  cursor: pointer;
  border-radius: 14px;
}

.icon {
  position: absolute;
  right: 18px;
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  background: var(--select-bg-color);
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  display: none;
  height: 244px;
  border-radius: 14px;
  padding-top: 14px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.11;
  cursor: pointer;
}

.option {
  color: var(--select-option-color);
  padding-bottom: 12px;
  padding-left: 18px;
  transition: color var(--transition);
}

.option:hover,
.option:focus {
  color: var(--text-color-dark);
}

.selectWrapper.active .dropdown {
  display: block;
}

@media screen and (min-width: 1440px) {
  .selectWrapper {
    margin-left: 125px;
  }
}
