.header {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}
.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.hamburger {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-bg);
}
.wrapper {
  display: none;
}
.logo {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--secondary-bg);
  transition: color var(--transition);
}
.logo:hover {
  color: var(--btn-hover-color);
}

@media screen and (min-width: 768px) {
  .mobileHeader {
    display: none;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;
  }
  .logo {
    font-size: 24px;
    margin-right: 60px;
  }
  .homeHeader {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    max-width: 100%;
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
    background-color: transparent;
    margin: 0 auto;
    padding: 20px 96px;
  }
}
