.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.iconClose {
  width: 20px;
  height: 20px;
  stroke: var(--text-color-dark);
  transition: stroke var(--primary-transition);
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nannyWrapper {
  display: flex;
  gap: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.avatar {
  border-radius: 15px;
  width: 44px;
  height: 44px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.input {
  width: 100%;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px;
}
.input::placeholder {
  color: var(--text-color-dark);
}
.form > .input:not(:last-child) {
  margin-bottom: 18px;
}
.textarea {
  width: 100%;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px;
  height: 116px;
  resize: none;
  outline: none;
}
.textarea::placeholder {
  color: var(--text-color-dark);
}
.passwordWrapper {
  position: relative;
}
.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  stroke: var(--text-color-dark);
  fill: none;
}
.error {
  color: var(--error-message-color);
  font-size: 12px;
}
button[type='submit'] {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .iconClose {
    width: 32px;
    height: 32px;
  }
  .row {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
}
