.title {
  font-weight: 500;
}
.main {
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--secondary-bg);
}
.name {
  font-size: 24px;
  line-height: 100%;
  color: var(--text-color-dark);
}
.modal {
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--text-color-dark);
}

@media screen and (min-width: 768px) {
  .modal {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    font-size: 40px;
  }
}
