.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 32px;
  width: 1376px;
}
.leftBlock {
  width: 517px;
  padding: 251px 64px 163px 96px;
}
.title {
  width: 517px;
  margin-bottom: 28px;
}
.text {
  width: 517px;
  margin-bottom: 64px;
}
.icon {
  transition: transform 0.3s ease-in-out;
}
.btn:hover .icon {
  transform: rotate(53deg);
}
.rightBlock {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url('/src/assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 568px 50px 50px 365px;
  padding-top: 568px;
  padding-left: 365px;
  width: 699px;
}
.checkBlock {
  width: 284px;
  display: flex;
  gap: 9px;
  padding: 32px;
  background-color: var(--secondary-bg);
  border-radius: 20px;
}
.checkIcon {
  width: 54px;
  height: 54px;
  border-radius: 13px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkText {
  display: flex;
  flex-direction: column;
}
